/* Footer principal */
footer {
 background-color: #4A352E;;
    color: white;
    padding: 40px 5%; 
    border-radius: 10px;
    display: flex;   
    flex-direction: row;                
    text-align: center;
     align-items: center;
   
}
/*columnas*/
footer div {
 flex-direction: column;
 padding-right: 10%;
 padding-left: 10%;
 
}


/* Enlaces del footer */
footer a {
    color: white;
    transition: color 0.2s;
}
/*hover enlaces */
footer a:hover {
    color: rgb(175, 175, 175); 
}

