/* Inputs del formulario */
#contenedor input {
    width: 50%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón de login */
#contenedor input[type="submit"],input[type="reset"] {
    width: 55%;
    padding: 8px;
    margin: 10px 0;
    background-color: #cf7835;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
 input[type="submit"]:hover ,input[type="reset"]:hover{
    background-color: #ee8a3d;
}
/* Link de recuperar contraseña */
#contenedor form a {
    display: block;
    margin-top: 6px;
    color: #5563DE;
    text-decoration: none;
    font-size: 12px;
}
#contenedor input{
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente los inputs y botones */
}
