/* Reset básico */
html, body{
    height: 100%;
    margin: 0;
}

/* Fondo de la página */
body{
    padding-top: 4%;
    background-image: url("../img/background.png");
}

/* Contenedor principal */
#contenedor{
    background-color: rgb(103, 136, 156);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    border-radius: 10px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Empuja el footer al fondo */
#contenedor :last-child{
    margin-top: auto;
}

/* Solo si hay un hijo */
#contenedor > :not(:last-child){
    padding: 5%;
}

/* Enlaces */
a{
    text-decoration: none;
}

/* Imagen background opcional */
#background{
    width: 100px;
}