/* tamaño de la imagen de fondo */
#background {
    width: 100px;
}

/* Fondo de la página */
body {
    padding-top: 4%;
    background-image: url("../img/background.png");
}

/* Enlaces */
a {
    text-decoration: none;
}

/* Contenedor principal */
#contenedor {
    background-color: rgb(103, 136, 156);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* ancla el footed al fondo de la pagina */
#contenedor :last-child {
    margin-top: auto;
}

/* margenes dentro de contenedor */
#contenedor > :not(:last-child) {
    padding: 5%;
}