/* tamaño de la imagen de fondo */
#background {
    width: 100px;
    
}


/* Fondo de la página */
body {
    
    background-size: 100%;
    padding-top: 20%;
    background-image: url("../img/background.png");
}

/* Enlaces */
a {
    text-decoration: none;
}


/* Contenedor principal */
#contenedor {
    background-color: #F3ECE9;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
    border-radius: 10px;
 
}
#contenedor > :not(:last-child) {
    padding: 5%;
}




/* ancla el footed al fondo de la pagina */
#contenedor :last-child {
    margin-top: auto;
}


