#logo1 {
margin: 0;
margin-right: 30px;
}

/*Barra de navegacion*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #24292e;
    display: flex;
    justify-content: flex-start;
    padding: 15px 40px;
    z-index: 1000; 
    height: 60px;

}

/*Hijos de la barra de navegacion  */
nav > :not(:first-child) {
    height: 60px;
    line-height: 60px; /* hace que el texto se centre verticalmente */
    text-decoration: none;
    border: solid rgba(130, 130, 130, 0.925);
    background-color: rgba(74, 74, 74, 1);
    padding: 0 20px;
}

/*hover de la barra de navegacicon */
nav > :not(:first-child):hover {
    background-color: rgba(239, 147, 27, 0.592);
    transition-duration: 0.2s;
    }