/*Logotipo*/
#imageness {
    margin-top: 10px;
    width: 64px;
}

#logo1 {
    display: flex;
    align-items: center;
    margin: 0px ;
    margin-right: 35%;
    margin-left: 30px;
    margin-bottom: 5px;
}
figcaption {
    margin-top: 9px;
    color: white;
    margin-left: 40px;
}

    


/*Barra de navegacion*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #24292e;
    display: flex;
    justify-content: flex-start;
    padding: 15px 40px;
    z-index: 1000;
    height: 60px;
   

}

/*Hijos de la barra de navegacion  */
nav> :not(:first-child) {
    height: 60px;
    line-height: 60px;
    /* hace que el texto se centre verticalmente */
    text-decoration: none;
    background-color: #24292e;
    padding: 0 20px;
    margin-left: 5px;
    color: white;
  
}

/*hover de la barra de navegacicon */
nav> :not(:first-child):hover {
    color: gray;
    transition-duration: 0.2s;
}