/*Logotipo*/
#imageness {
    margin-top: 10px;
    width: 82px;
    border-radius: 10px;
    border: 2px solid rgb(54, 72, 83);
}

#logo1 {
    display: flex;
    align-items: center;
    margin: 0px ;
    margin-right: 35%;
    margin-left: 30px;
    margin-bottom: 5px;
}
figcaption {
    margin-top: 9px;
    color: white;
    /*hace que no se rompa el figcaption*/
    min-width: 100%;
}
#titulo {
    font-size: 200%;
}

/*Barra de navegacion*/
#menu {
    z-index: 1;
    position: fixed;
    display: flex;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color:#4A352E;

}

/*Hijos de la barra de navegacion  */
nav :not(:first-child) {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4A352E;
    color: white;
    font-size: 18px;
    padding: 0 1%;
   
}

/*hover de la barra de navegacicon */
nav> :not(:first-child):hover {
    color: gray;
    transition-duration: 0.2s;
}


nav span{
    text-decoration:underline white;
}



nav > :last-child {
    margin-left: 20px;
    background-color: #DEA178;
    color: white;
    border-radius: 10px;
    padding-top: 0%;
}

nav > :last-child:hover {
  background-color: rgb(168, 168, 168);
  color: black;
  border-color: black;
}