tbody th, tbody td {
    padding: 40px;
}


table th {
    background-color: #8B5E3C;
    color: #FFF8E7;
}
table td {
    border: 2px solid #A67C52;
    background-color: #D9C2A6;
    color: #4B2E1E;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 5%;
    
}
